/* Sortable tables */
table.sortable th.sorttable_nosort 
{
  text-decoration: none;
  cursor: default;
}
table.sortable thead tr {
/*  color:#101686;
  font-family: Verdana;
  font-size: xx-small;
  font-weight: bold;
  background-color:#AED7FF;
*/
  position: relative;
  top: expression(offsetParent.scrollTop - 2);
  cursor: pointer;
}
table.sortable th
{
  text-decoration: underline;
}
table.sortable tr {
  height:0px;
}
